<body>
    <header>
        <nav class="header-nav">
            <a class="header-title" href="/">myAnime</a>
            <li><a href="/studios">Studios</a></li>
            <li><a href="/studios/new">Add Studios</a></li>
            <li><a href="/animes">Animes</a></li>
            <li><a href="/animes/new">Add Animes</a></li>
        </nav>
    </header>
</body>