<body>
    <div class="container">
        <%- include('../partials/header.ejs')%>
    </div>
    <h1 class="header">Edit Studios</h1>
    <form action="/studios/<%= studio.id %>?_method=PUT" method="POST">
        <%- include('form_fields') %>
        <a class="buttons danger-button" href="/studios/<%= studio.id %>">Cancel</a>
        <button class="buttons primary-button" type="submit">Update</button>
    </form>
</body>