<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewStudios</title>
</head>
<body>
    <h1>New Studios</h1>
    <form action="/studios" method="POST">
        <%- include('form_fields') %>
        <a href="/studios">Cancel</a>
        <button type="submit">Create</button>
    </form>
</body>
</html>