<body>
  <div class="container">
    <%- include('../partials/header.ejs')%>
</div>
    <h2 class="header">Edit Anime</h2>
<form action="/animes/<%= anime.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <%- include('_form_fields') %>
  <a class="buttons danger-button" href="/animes">Cancel</a>
  <button class="buttons primary-button" type="submit">Update</button>
</form> 
</body>
